.container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.darkModeText {
  color: var(--text-secondary-dm);
}

.lightModeText {
  color: var(--text-secondary-lm);
}

@media (max-width: 1200px) {
  .container {
    gap: 1.875rem;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 1.25rem;
  }
}

@media (max-width: 430px) {
  .container {
    gap: 1.25rem;
  }
}
