.container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.lightModeText {
  color: var(--text-primary-lm);
}

.darkModeText {
  color: var(--text-primary-dm);
}

.sliderContainer {
  display: flex;
  gap: 13px;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-x: scroll;
  width: 95vw;
}

@media (max-width: 1200px) {
  .container {
    gap: 1.875rem;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 1.875rem;
  }
}

@media (max-width: 430px) {
  .container {
    gap: 1.25rem;
  }
}
