.container {
  display: inline-flex;
  justify-content: start;
  gap: 15px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  margin-left: 5vw;
  width: 95vw;
}

.chapterButton {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  flex-shrink: 0;
}

.lightModeChapterButton {
  border: 2px solid var(--module-bg-lm);
  background-color: var(--module-bg-lm);
  color: var(--black);
}

.lightModeChapterButton:hover {
  background-color: rgba(230, 231, 239, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.darkModeChapterButton {
  border: 2px solid var(--module-bg-dm);
  background-color: var(--module-bg-dm);
  color: var(--white);
}

.darkModeChapterButton:hover {
  background-color: rgba(21, 21, 21, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.checked {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.checked:hover {
  background-color: rgba(0, 0, 254, 0.3);
  border-color: rgba(0, 0, 254, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.active {
  border: 2px solid var(--benefit-2-lm);
}

@media (max-width: 1200px) {
  .container {
    gap: 12px;
    margin-bottom: 2.5rem;
  }

  .chapterButton {
    width: 6.25rem;
    height: 6.25rem;
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 12px;
    margin-bottom: 2.5rem;
  }

  .chapterButton {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
  }

  .checkedIcon path {
    transform: scale(0.75);
    transform-origin: center;
  }
}

@media (max-width: 430px) {
  .container {
    gap: 12px;
    margin-bottom: 1.25rem;
  }

  .chapterButton {
    width: 3.75rem;
    height: 3.75rem;
    flex-shrink: 0;
  }

  .checkedIcon path {
    transform: scale(0.65);
    transform-origin: center;
  }
}
